
  label {
    background: #6cacc5;
    position: relative;
    width: 65px;
    height: 32px;
    text-indent: -9999px;
    float: right;
    border-radius: 20px;
    cursor: pointer;
  }
  
  label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 26px;
    height: 26px;
    background: white;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #5a5569;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 56px;
  
  
  }
  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
  
  /* Animations */
  /* Values that appear onclick */
  @keyframes zoom {
    0% {
      transform: scale(0.2);
      opacity: 1;
    }
  
    70% {
      transform: scale(1);
    }
  
    100% {
      opacity: 0;
    }
  }
  
  /* Division by zero animation */
  @keyframes broken {
    0% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  
    5% {
      transform: rotate(5deg);
    }
  
    15% {
      transform: rotate(-5deg);
    }
  
    20% {
      transform: rotate(5deg);
    }
  
    25% {
      transform: rotate(-5deg);
    }
  
    50% {
      transform: rotate(45deg);
    }
  
    70% {
      transform: translate3d(0, 2000px, 0);
      opacity: 1;
    }
  
    75% {
      opacity: 0;
    }
  
    100% {
      transform: translate3d(0, -2000px, 0);
    }
  }
  
  /* Reset button fadein */
  @keyframes fadein {
    0% {
      top: 20em;
      opacity: 0;
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @media (min-width: 420px) {
    .calculator {
      width: 12em;
    }
  
    .viewer {
      width: 8.5em;
    }
  
    button {
      margin: 0.5em;
    }
  }
  .calculator{
    border: 2px solid black;
  }
  .viewer{
    border: 2px solid black;
  }
.div{
    text-align: center;

}




.container{
    margin: auto;
}
.m-w-30{
    max-width: 30vw;

}
#clear{
     background-color: #5a5569;
}
.equals{
  background-color: green;
}
.ops{
  background-color:grey;
}
.calculator{
  background-color: black;
}
.viewer{
  background-color: orange;
}